<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PublishBlazor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <PublishBlazor.Properties.Settings>
            <setting name="apiServerPublishSourcePath" serializeAs="String">
                <value>C:\Users\UserName\source\repos\ApplicationName\Hermes\Hermes\bin\Release\netcoreapp3.1\publish</value>
            </setting>
            <setting name="webServerPublishSourcePath" serializeAs="String">
                <value>C:\Users\UserName\source\repos\ApplicationName\Hermes\HermesWeb\bin\Release\netcoreapp3.1\publish</value>
            </setting>
            <setting name="apiServerPublishTargetPath" serializeAs="String">
                <value>\\TargetServerName\PARTAGE\</value>
            </setting>
            <setting name="webServerPublishTargetPath" serializeAs="String">
                <value>\\TargetServerName\PARTAGE\</value>
            </setting>
            <setting name="TargetServerName" serializeAs="String">
                <value>for confidentiality, don't publish it to a public GitHub repository</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>for confidentiality, don't publish it to a public GitHub repository</value>
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value>for confidentiality, don't publish it to a public GitHub repository</value>
            </setting>
            <setting name="SecretMessage" serializeAs="String">
                <value>for confidentiality, don't publish it to a public GitHub repository</value>
            </setting>
        </PublishBlazor.Properties.Settings>
    </applicationSettings>
</configuration>